<mat-card>
    <h2 class="alinearC">Ventas</h2>

    <mat-card-content>
        <div class="panel-busqueda">
            <form [formGroup]="filtroForm" (ngSubmit)="filtrarVentas()" class="filtro-form">
                <mat-form-field appearance="fill">
                    <mat-label>Fecha Inicial</mat-label>
                    <input matInput [matDatepicker]="pickerDesde" formControlName="fechaDesde">
                    <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDesde></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Fecha Final</mat-label>
                    <input matInput [matDatepicker]="pickerHasta" formControlName="fechaHasta">
                    <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
                    <mat-datepicker #pickerHasta></mat-datepicker>
                </mat-form-field>

                <button mat-icon-button color="primary">
                    <mat-icon aria-label="Buscar">search</mat-icon>
                </button>
            </form>
        </div>

        <mat-card-content>
            <div class="create-panel">
                <button mat-icon-button color="primary" (click)="openVentaDialog()" title="Nueva Venta">
                    <mat-icon aria-label="Edit">add_shopping_cart</mat-icon>
                </button>
            </div>
        </mat-card-content>
        <div class="table-panel">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Nº</th>
                    <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
                </ng-container>

                <ng-container matColumnDef="plato">
                    <th mat-header-cell *matHeaderCellDef> Plato</th>
                    <td mat-cell *matCellDef="let element"> {{ element.plato }}</td>
                </ng-container>

                <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef> Cantidad</th>
                    <td mat-cell *matCellDef="let element"> {{ element.cantidad }}</td>
                </ng-container>

                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef> Precio</th>
                    <td mat-cell *matCellDef="let element"> {{ element.precio | currency }}</td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total</th>
                    <td mat-cell *matCellDef="let element"> {{ element.total | currency }}</td>
                </ng-container>

                <ng-container matColumnDef="fechaVenta">
                    <th mat-header-cell *matHeaderCellDef> Fecha</th>
                    <td mat-cell *matCellDef="let element"> {{ element.fechaVenta }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Acciones</th>
                    <td mat-cell *matCellDef="let element">
                        
                        <button mat-icon-button color="primary" (click)="anularVenta(element)" title="Anular">
                            <mat-icon aria-label="Edit">assignment_add</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>

        <div *ngIf="totalVentas !== undefined" class="total-panel">
            <p>Total de Ventas: {{ totalVentas | currency }}</p>
        </div>
    </mat-card-content>
    <mat-card-content>
        <div class="create-panel">
            <button mat-icon-button color="primary" (click)="bajarReporteVentas()" title="Bajar Reporte">
                <mat-icon aria-label="Edit">download</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>