<mat-card>
    <h2 class="alinearC">Platos</h2>

    <mat-card-content>
        <div class="panel-busqueda">
            <mat-form-field class="field-texto" hintLabel="Buscar nombre de plato" appearance="fill">
                <mat-label>Plato</mat-label>
                <input matInput #nombre (keyup)="buscar(nombre.value)">
            </mat-form-field>
        </div>
    </mat-card-content>

    <mat-card-content>
        <div class="create-panel">
            <button mat-icon-button color="primary" (click)="abrirDialogo()">
                <mat-icon aria-label="Add new plate">format_list_bulleted_add</mat-icon>
            </button>
        </div>
    </mat-card-content>

    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre de Plato</th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="pvp">
                <th mat-header-cell *matHeaderCellDef> Precio de Venta</th>
                <td mat-cell *matCellDef="let element"> {{ element.pvp | currency:'USD':'symbol':'1.2-2' }}</td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.estado ==='A' ? 'Activo' : 'Inactivo' }} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="show(element)" 
                    class="action-button" aria-label="Show details">
                        <mat-icon>menu_book</mat-icon>
                    </button>

                    <button mat-icon-button color="primary" (click)="edit(element)" 
                        class="action-button" aria-label="Edit plate" *ngIf="esAdministrador">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-icon-button color="warn" (click)="delete(element.id)" 
                        class="action-button" aria-label="Delete plate" *ngIf="esAdministrador">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>
