<div class="row">
<div class="col-sm-6">
  <mat-card class="mat-mdc-card mdc-card cardWithShadow bg-primary text-white">
    <mat-card-content class="mat-mdc-card-content p-32">
      <mat-card-title class="mat-mdc-card-title lh-lg mat-headline-4 f-s-20 f-w-500">Hola,</mat-card-title>
      <div>
        <button mat-icon-button color="primary" class="action-button">
          <mat-icon aria-label="Edit">download</mat-icon>
        </button>
      </div>
    </mat-card-content></mat-card>
</div>
<div class="col-sm-6">
  <mat-card class="mat-mdc-card mdc-card cardWithShadow bg-primary text-white">
    <mat-card-content class="mat-mdc-card-content p-32">
      <mat-card-title class="mat-mdc-card-title lh-lg mat-headline-4 f-s-20 f-w-500">Hola,</mat-card-title>
      <div>
        <button mat-icon-button color="primary" class="action-button">
          <mat-icon aria-label="Edit">download</mat-icon>
        </button>
      </div>
    </mat-card-content></mat-card>
</div>
</div>

<div class="row">
<div class="mat-mdc-card mdc-card cardWithShadow overflow-hidden">
  <mat-card class="mat-mdc-card mdc-card cardWithShadow welcome-card">
    <mat-card-content class="mat-mdc-card-content p-32">
      <mat-card-title class="mat-mdc-card-title lh-lg mat-headline-4 f-s-20 f-w-500">Hola,</mat-card-title>
      <div>
        <button mat-icon-button color="primary" class="action-button">
          <mat-icon aria-label="Edit">download</mat-icon>
        </button>
      </div>
    </mat-card-content></mat-card>
</div>
</div>