<h1 mat-dialog-title> {{ estadoFormulario }} Empleado</h1>
<mat-dialog-content>

    <form [formGroup]="employeeForm">
        <div class="category-container">

            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="nombre" required/>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Apellido Paterno</mat-label>
                <input matInput placeholder="Apellido Paterno" formControlName="apellidoPaterno" required />
            </mat-form-field>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary" (click)="onSave()" [disabled]="employeeForm.invalid">
        <mat-icon>save</mat-icon>Guardar
    </button>

    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon>Cancelar
    </button>

</mat-dialog-actions>