h1 {
    font-size: 26px;
    color: #142d42;
    border-bottom: 2px solid #142d42;
    width: fit-content;
    margin-bottom: 20px;
  }
  
  .category-container {
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espacio entre secciones */
  }
  
  .section {
    border: 1px solid #142d42;
    padding: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .section h2 {
    font-size: 16px;
    color: #142d42;
    border-bottom: 1px solid #142d42;
    padding-bottom: 2px;
    margin-bottom: 2px;
  }
  
  .fields-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    /* Espacio entre campos */
  }
  
  .field {
    flex: 0 1 45%;
    /* Los campos ocuparán el 45% del ancho del contenedor */
    padding: 2px;
  }
  
  .field.full-width {
    flex: 1 1 100%;
    /* Este campo ocupará el 100% del ancho del contenedor */
  }
  
  .field:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .category-container>* {
    width: 100%;
  }