<h1 mat-dialog-title> {{ estadoFormulario }} Proveedor</h1>
<mat-dialog-content>
  <form [formGroup]="proveedorForm">
    <div class="personal-info">
        <h2>Datos Proveedor</h2>
      <div class="category-container">
        <mat-form-field appearance="fill" class="field">
          <mat-label>Nombre Empresa</mat-label>
          <input matInput formControlName="empresa" required />
        </mat-form-field>
        <mat-form-field appearance="fill" class="field">
          <mat-label>Nombre Contacto</mat-label>
          <input matInput formControlName="nombre" required />
        </mat-form-field>
        <mat-form-field appearance="fill" class="field-telefono">
          <mat-label>Teléfono Contacto</mat-label>
          <input matInput formControlName="contacto" required />
        </mat-form-field>
      </div>
    </div>

    <div class="bank-info">
        <h2>Datos Pago a Proveedor</h2>
      <div class="category-container">
        <mat-form-field appearance="fill" class="field">
          <mat-label>Banco</mat-label>
          <input matInput formControlName="banco" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="field">
          <mat-label>Tipo de Cuenta</mat-label>
          <input matInput formControlName="tipoCuenta" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="field">
          <mat-label>Número de Cuenta</mat-label>
          <input matInput formControlName="numeroCuenta" />
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" (click)="onSave()" [disabled]="proveedorForm.invalid">
    <mat-icon>save</mat-icon>Guardar
  </button>

  <button mat-button color="warn" (click)="onCancel()">
    <mat-icon>cancel</mat-icon>Cancelar
  </button>
</mat-dialog-actions>