h1 {
    font-size: 26px;
    color: #142d42;
    border-bottom: 2px solid #142d42;
    width: fit-content;
    margin-bottom: 20px;
    align-content: center;
  }

h2 {
    font-size: 16px;
    color: #142d42;
    border-bottom: 2px solid #142d42;
    width: fit-content;
    margin-bottom: 20px;
  }

.category-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.field {
  flex: 4;
}

.field-telefono {
  flex: 1;
  margin-right: 10px;
  text-align: right;
}

.personal-info {
  margin-bottom: 24px;
}

.bank-info {
  margin-top: 24px;
}

.mat-dialog-content {
  padding: 16px;
}

.mat-dialog-actions {
  justify-content: flex-end;
  padding: 16px;
}
