<mat-card>
    <h2 class="alinearC">Proveedores</h2>

    <mat-card-content>
        <div class="panel-busqueda">
            <mat-form-field class="field-texto" hintLabel="Buscar proveedores" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput #nombre (keyup)="buscar(nombre.value)">
            </mat-form-field>
        </div>
    </mat-card-content>

    <mat-card-content>
        <div class="create-panel">
            <button mat-icon-button color="primary" (click)="abirDialogo()" title="Agregar Proveedor">
                <mat-icon aria-label="Edit">format_list_bulleted_add</mat-icon>
            </button>
        </div>
    </mat-card-content>

    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="id" >
                <th mat-header-cell *matHeaderCellDef> Código</th>
                <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="empresa">
                <th mat-header-cell *matHeaderCellDef> Empresa</th>
                <td mat-cell *matCellDef="let element"> {{ element.empresa }}</td>
            </ng-container>

            <ng-container matColumnDef="nombreProveedor">
                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                <td mat-cell *matCellDef="let element"> {{ element.nombreProveedor }}</td>
            </ng-container>

            <ng-container matColumnDef="telefonoProveedor">
                <th mat-header-cell *matHeaderCellDef> Contacto</th>
                <td mat-cell *matCellDef="let element"> {{ element.telefonoProveedor }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="edit(element)"
                    class="action-button" aria-label="Editar" *ngIf="esAdministrador">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>

                    <button mat-icon-button color="warn" (click)="delete(element.id)"
                    class="action-button" aria-label="Eliminar " *ngIf="esAdministrador">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>
