<mat-card>
    <h2 class="alinearC">Inventario</h2>

    <mat-card-content>
        <div class="panel-busqueda">
            <form [formGroup]="filtroForm" (ngSubmit)="filtrarInventario()" class="filtro-form">
                <mat-form-field hintLabel="Buscar ingrediente" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombreIngrediente">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Tipo</mat-label>
                    <mat-select formControlName="tipo">
                        <mat-option value="I">Ingreso</mat-option>
                        <mat-option value="E">Egreso</mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-icon-button color="primary">
                    <mat-icon aria-label="Buscar">search</mat-icon>
                </button>
            </form>
        </div>

        <mat-card-content>
            <div class="create-panel">
                <button mat-icon-button color="primary" (click)="nuevo()" title="Nuevo Ingreso">
                    <mat-icon aria-label="Edit">format_list_bulleted_add</mat-icon>
                </button>
            </div>
        </mat-card-content>

        <div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                <ng-container matColumnDef="ingrediente">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ingrediente </th>
                    <td mat-cell *matCellDef="let element"> {{ element.ingrediente }}</td>
                </ng-container>

                <ng-container matColumnDef="fechaMovimiento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
                    <td mat-cell *matCellDef="let element"> {{ element.fechaMovimiento | date: 'dd/MM/yyyy, HH:mm' }}</td>
                </ng-container>

                <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                    <td mat-cell *matCellDef="let element"> {{ element.cantidad }}</td>
                </ng-container>

                <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                    <td mat-cell *matCellDef="let element"> {{ element.tipo === 'I' ? 'Ingreso' : element.tipo === 'E' ? 'Egreso' : '' }}</td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total</th>
                    <td mat-cell *matCellDef="let element"> {{ element.total }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
    <mat-card-content>
        <div class="create-panel">
            <button mat-icon-button color="primary" (click)="exportarExcel()" title="Descargar Informe">
                <mat-icon aria-label="Edit">download</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>
