<h1 mat-dialog-title> {{ estadoFormulario }} Departamento</h1>
    <mat-dialog-content>

        <form [formGroup]="departamentForm">
            <div class="category-container">
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Descripcion</mat-label>
                    <input matInput placeholder="Descripcion" formControlName="descripcion" />
                </mat-form-field>
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Codigo</mat-label>
                    <input matInput placeholder="Codigo" formControlName="codigo" />
                </mat-form-field>
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado">
                        <mat-option value="A">Activo</mat-option>
                        <mat-option value="I">Inactivo</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button color="primary" (click)="onSave()" [disabled]="departamentForm.invalid">
            <mat-icon>save</mat-icon>Guardar
        </button>

        <button mat-button color="primary" (click)="onCancel()">
            <mat-icon>cancel</mat-icon>Cancelar
        </button>

    </mat-dialog-actions>