<h1 mat-dialog-title> {{ nombreProducto }} - {{ idPlato }}</h1>
<mat-dialog-content>
  <form [formGroup]="preparacionForm">
    <div formArrayName="ingredientes">
      <div *ngFor="let ingrediente of ingredientesArray.controls; let i = index" [formGroupName]="i" class="category-container">
        <mat-form-field appearance="fill" class="field">
          <mat-label>Ingrediente</mat-label>
          <mat-select formControlName="ingredienteId">
            <mat-option *ngFor="let ing of ingredientes" [value]="ing.id">
              {{ ing.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="field">
          <mat-label>Cantidad</mat-label>
          <input matInput type="number" placeholder="0" formControlName="cantidad">
        </mat-form-field>

        <button mat-icon-button color="warn" (click)="removeIngrediente(i)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
    </div>
    <button mat-button color="primary" (click)="addIngrediente()">
      <mat-icon>add</mat-icon>Agregar Ingrediente
    </button>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" (click)="onSave()" [disabled]="preparacionForm.invalid">
    <mat-icon>save</mat-icon>Guardar
  </button>

  <button mat-button color="primary" (click)="onCancel()">
    <mat-icon>cancel</mat-icon>Cancelar
  </button>
</mat-dialog-actions>
