@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');

h2 {
    color: rgb(20, 45, 66);
}

table {
    font-size: 1px;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 1em;
}

th {
    font-size: 12px;
    background-color: rgb(20, 45, 66);
    text-align: center;
}

td {
    font-size: 11px;
    color: rgb(20, 45, 66);
    text-align: left;
}

ul li {
    list-style: none;
}

.alinearC {
    text-align: center;
    margin-top: 20px;
}

.alinearD {
    margin-left: auto;
}

mat-form-field {
    width: 140%;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
    flex: 0 0 6%;
}