@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');

h2 {
    color: rgb(20, 45, 66);
}

table {
    font-size: 1px;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 1em;
}

th {
    font-size: 14px;
    background-color: rgb(20, 45, 66);
    text-align: center;
}

td {
    font-size: 12px;
    color: rgb(20, 45, 66);
    text-align: center;
}

.alinearC {
    text-align: center;
}

.panelBusqueda {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.field-texto {
    width: 100%;
    max-width: 48%; /* Adjust as needed for different screen sizes */
}

.alinearD {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.mat-elevation-z8 {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

mat-form-field {
    flex: 1;
    min-width: 200px;
}
