<h1 mat-dialog-title> {{ estadoFormulario }} Cargo</h1>
    <mat-dialog-content>

        <form [formGroup]="cargoFrom">
            <div class="category-container">
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Departamento</mat-label>
                    <mat-select formControlName="departamentoId">
                        <mat-option *ngFor="let dep of departamentos" [value]="dep.id">
                            {{dep.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Descripcion</mat-label>
                    <input matInput placeholder="Descripcion" formControlName="descripcion" />
                </mat-form-field>
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Código</mat-label>
                    <input matInput placeholder="Código" formControlName="codigo" />
                </mat-form-field>
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado">
                        <mat-option value="A">Activo</mat-option>
                        <mat-option value="I">Inactivo</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Salario</mat-label>
                    <input matInput type="number" placeholder="0" formControlName="salario">
                    <span matTextPrefix>$&nbsp;</span>
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button color="primary" (click)="onSave()" [disabled]="cargoFrom.invalid">
            <mat-icon>save</mat-icon>Guardar
        </button>

        <button mat-button color="primary" (click)="onCancel()">
            <mat-icon>cancel</mat-icon>Cancelar
        </button>

    </mat-dialog-actions>